In [9]:
import pandas as pd

In [10]:
wh2021=pd.read_csv('C:\\Users\\ignacio.vicente\\OneDrive - TresMares\\1. Curso Keepcoding\\8. Big data processing\\big-data-processing\\PROYECTO FINAL\\Datasets\\world-happiness-report-2021.csv')

In [11]:
wh2021.head(5)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [12]:
wh=pd.read_csv('C:\\Users\\ignacio.vicente\\OneDrive - TresMares\\1. Curso Keepcoding\\8. Big data processing\\big-data-processing\\PROYECTO FINAL\\Datasets\\world-happiness-report.csv')

In [13]:
wh.head(5)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [14]:
# Pregunta 1. ¿Cuál es el país más feliz del mundo en 2021?.  

#Nota: Nótese que este ejercicio no requiere transformación alguna, se puede hacer directamente con una pregunta al dataframe

In [15]:
print(wh2021.columns)

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [27]:
Felicidad_max_2021=wh2021.nlargest(1,'Ladder score')

In [33]:
Nombre_max_2021=Felicidad_max_2021['Country name'].iloc[0]

In [34]:
print(f"El país más feliz del 2021 es: {Nombre_max_2021}")

El país más feliz del 2021 es: Finland

In [35]:
#Pregunta 2. ¿Cuál es el país más feliz por continente en 2021? 
#nota: tampoco requiere fusionar las tablas, sólo trabajar con la primera.

In [41]:
continentes=wh2021.groupby('Regional indicator')['Ladder score'].idxmax()

In [43]:
pais_cont=wh2021.loc[continentes]

In [51]:
pais_cont_resumen=pais_cont[['Country name','Regional indicator']]

In [125]:
print(f"El país más feliz del 2021 por continente es {pais_cont_resumen.to_string(index=False)}")

El país más feliz del 2021 por continente es             Country name                 Regional indicator
          Czech Republic         Central and Eastern Europe
              Uzbekistan Commonwealth of Independent States
Taiwan Province of China                          East Asia
              Costa Rica        Latin America and Caribbean
                  Israel       Middle East and North Africa
             New Zealand              North America and ANZ
                   Nepal                         South Asia
               Singapore                     Southeast Asia
               Mauritius                 Sub-Saharan Africa
                 Finland                     Western Europe

In [ ]:
#pregunta 3. Cuál es el país que más veces ocupó la primera posición en el ranking de felicidad?
#nota: ahora sí, primero tengo que fusionar ambas tablas de datos y homogeneizar los nombres y segundo, tratar de sacar una fórmula de maximización
#nota 2: para el primer paso, he simplificado únicamente a los tres campos que se me iban a solicitar en los siguientes ejercicios
#y he dejado caer el resto de campos
#nota 3: en la formulación del ejercicio hay un typo. Solicita el GDP pero sólo tenemos el "logged GDP per capita" que es un 
#indicador distinto

In [60]:
f2021=wh2021.drop(columns=['Regional indicator', 
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Social support', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual']).rename(columns={'Ladder score':'felicidad','Logged GDP per capita':'GDP','Healthy life expectancy':'esperanza'})

In [61]:
f2021.head(5)

  Country name  felicidad     GDP  esperanza
0      Finland      7.842  10.775       72.0
1      Denmark      7.620  10.933       72.7
2  Switzerland      7.571  11.117       74.4
3      Iceland      7.554  10.878       73.0
4  Netherlands      7.464  10.932       72.4

In [62]:
f2021.insert(1,'year',2021)

In [63]:
f2021.head(5)

  Country name  year  felicidad     GDP  esperanza
0      Finland  2021      7.842  10.775       72.0
1      Denmark  2021      7.620  10.933       72.7
2  Switzerland  2021      7.571  11.117       74.4
3      Iceland  2021      7.554  10.878       73.0
4  Netherlands  2021      7.464  10.932       72.4

In [55]:
print(wh.columns)

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [69]:
f=wh.drop(columns=['Social support','Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect']).rename(columns={'Life Ladder':'felicidad', 'Log GDP per capita':'GDP','Healthy life expectancy at birth':'esperanza'})

In [70]:
f.head(5)

  Country name  year  felicidad    GDP  esperanza
0  Afghanistan  2008      3.724  7.370      50.80
1  Afghanistan  2009      4.402  7.540      51.20
2  Afghanistan  2010      4.758  7.647      51.60
3  Afghanistan  2011      3.832  7.620      51.92
4  Afghanistan  2012      3.783  7.705      52.24

In [72]:
whjoin=pd.concat([f2021,f])

In [73]:
whjoin.head(5)

  Country name  year  felicidad     GDP  esperanza
0      Finland  2021      7.842  10.775       72.0
1      Denmark  2021      7.620  10.933       72.7
2  Switzerland  2021      7.571  11.117       74.4
3      Iceland  2021      7.554  10.878       73.0
4  Netherlands  2021      7.464  10.932       72.4

In [93]:
whjoin_ordenado=whjoin.sort_values(by='felicidad',ascending=False).groupby('year')

In [108]:
whjoin_ordenado.head(10)

              Country name  year  felicidad     GDP  esperanza
449                Denmark  2005      8.019  10.851      69.60
451                Denmark  2008      7.971  10.880      70.08
563                Finland  2020      7.889  10.750      72.10
561                Finland  2018      7.858  10.783      71.90
0                  Finland  2021      7.842  10.775      72.00
...                    ...   ...        ...     ...        ...
396             Costa Rica  2006      7.082   9.565      69.94
1467          Saudi Arabia  2005      7.080  10.699      63.50
788                Ireland  2009      7.046  10.866      71.16
1342                Panama  2009      7.034   9.930      68.20
1808  United Arab Emirates  2006      6.734  11.367      65.92

[170 rows x 5 columns]

In [98]:
ranking=whjoin.groupby(['year'])['felicidad'].idxmax()

In [100]:
ranking_OK=whjoin.loc[ranking].sort_values(by=['year'])

In [106]:
print(ranking_OK)

     Country name  year  felicidad     GDP  esperanza
449       Denmark  2005      8.019  10.851      69.60
551       Finland  2006      7.672  10.745      69.76
450       Denmark  2007      7.834  10.891      69.92
0     Afghanistan  2008      3.724   7.370      50.80
451       Denmark  2008      7.971  10.880      70.08
452       Denmark  2009      7.683  10.824      70.24
453       Denmark  2010      7.771  10.839      70.40
454       Denmark  2011      7.788  10.848      70.62
1654  Switzerland  2012      7.776  11.079      72.78
300        Canada  2013      7.594  10.757      72.68
457       Denmark  2014      7.508  10.862      71.28
1304       Norway  2015      7.603  11.033      72.90
559       Finland  2016      7.660  10.740      71.70
560       Finland  2017      7.788  10.768      71.80
561       Finland  2018      7.858  10.783      71.90
562       Finland  2019      7.780  10.792      72.00
563       Finland  2020      7.889  10.750      72.10
0         Finland  2021      7.842  10.775      72.00

In [119]:
pais_OK=ranking_OK.mode().iloc[0]

In [121]:
print(pais_OK[['Country name']])

Country name    Denmark
Name: 0, dtype: object

In [124]:
print(f"el país que más veces ocupó la primera posición fue {pais_OK [['Country name']].to_string(index=False)}" )

el país que más veces ocupó la primera posición fue Denmark

In [ ]:
#Pregunta 4 ¿Qué puesto de felicidad tiene el país con mayor GDP del 2020?

In [126]:
f2020=f.query('year==2020')

In [153]:
f2020o=f2020.sort_values(by='felicidad',ascending=False)

In [154]:
f2020o.head(5)

     Country name  year  felicidad     GDP  esperanza  rank
563       Finland  2020      7.889  10.750       72.1  29.0
731       Iceland  2020      7.575  10.824       73.0  37.0
463       Denmark  2020      7.515  10.910       73.0  22.0
1661  Switzerland  2020      7.508  11.081       74.7  80.0
1224  Netherlands  2020      7.504  10.901       72.5  63.0

In [158]:
f2020o['rank_felicidad']=f2020o['felicidad'].rank(ascending=False)

In [159]:
f2020o.head(5)

,Country name,year,felicidad,GDP,esperanza,rank,rank_GDP,rank_felicidad
563,Finland,2020,7.889,10.750,72.1,29.0,14.0,1.0
731,Iceland,2020,7.575,10.824,73.0,37.0,11.0,2.0
463,Denmark,2020,7.515,10.910,73.0,22.0,6.0,3.0
1661,Switzerland,2020,7.508,11.081,74.7,80.0,2.0,4.0
1224,Netherlands,2020,7.504,10.901,72.5,63.0,7.0,5.0

In [161]:
posicion=f2020o.loc[max_GDP,'rank_felicidad']

In [162]:
print(posicion)

13.0

In [163]:
max_GDP=f2020o['GDP'].idxmax()

In [164]:
print(max_GDP)

799

In [166]:
name_max_GDP_OK=f2020o.loc[max_GDP,'Country name']
value_max_GDP_OK=f2020o.loc[max_GDP,'felicidad']
posicion=f2020o.loc[max_GDP,'rank_felicidad']
print(f"el país de mayor GDP fue {name_max_GDP_OK} con la felicidad de {value_max_GDP_OK}, que ocupa la posición {posicion} del ranking de felicidad" )

el país de mayor GDP fue Ireland con la felicidad de 7.035, que ocupa la posición 13.0 del ranking de felicidad

In [ ]:
# ¿En qué porcentaje ha variado a nivel mundial el GDP promedio del 2020 respecto 2021? ¿Aumentó o disminuyó?

In [169]:
media2021=wh2021['Logged GDP per capita'].mean()

In [171]:
print(media2021)

9.432208053691276

In [172]:
media2020=f2020['GDP'].mean()

In [173]:
print(media2020)

9.751329545454544

In [174]:
var=(media2021/media2020)-1

In [179]:
print(f"El nivel mundial de GDP promedio ha variado en un {var:.2%}")

El nivel mundial de GDP promedio ha variado en un -3.27%

In [ ]:
#pregunta 6: ¿Cuál es el país con mayor esperanza de vida y cuál era el valor del indicador en 2019?

In [180]:
may_esp=wh2021['Healthy life expectancy'].idxmax()

In [196]:
pais_esp=wh2021.loc[may_esp,'Country name']

In [197]:
print(pais_esp)

Singapore

In [198]:
esp2019sing = whjoin.query("`year` == 2019 and `Country name` == 'Singapore'")

In [203]:
print(f"el país de mayor esperanza de vida es {pais_esp} y en 2019 tenía una esperanza de vida de {esp2019sing[['esperanza']].iloc[0].to_string(index=False)} años")

el país de mayor esperanza de vida es Singapore y en 2019 tenía una esperanza de vida de 77.1 años

In [182]:
print(pais_esp)

NameError: name 'pais_esp' is not defined